*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #209e20;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

#line1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 2s ease forwards 8.5s;
}

#line2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(260%, 225%);
    animation: fill 2s ease forwards 9.0s;
}

#sign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90%, 100%);
    
}

#sign path:nth-child(1){
    stroke-dasharray: 1480.302001953125;
    stroke-dashoffset: 1480.302001953125;
    animation: line-anim 3s ease forwards 6s;
}

#line1 path:nth-child(1){
    stroke-dasharray: 416.0293884277344;
    stroke-dashoffset: 416.0293884277344;
    animation: line-anim 3s ease forwards;
}
#line1 path:nth-child(2){
    stroke-dasharray: 172.791259765625;
    stroke-dashoffset: 172.791259765625;
    animation: line-anim 3s ease forwards 0.3s;
}
#line1 path:nth-child(3){
    stroke-dasharray: 241.09286499023438;
    stroke-dashoffset: 241.09286499023438;
    animation: line-anim 3s ease forwards 0.6s;
}
#line1 path:nth-child(4){
    stroke-dasharray: 193.36309814453125;
    stroke-dashoffset: 193.36309814453125;
    animation: line-anim 3s ease forwards 0.9s;
}
#line1 path:nth-child(5){
    stroke-dasharray: 310.9117431640625;
    stroke-dashoffset: 310.9117431640625;
    animation: line-anim 3s ease forwards 1.2s;
}
#line1 path:nth-child(6){
    stroke-dasharray: 310.91180419921875;
    stroke-dashoffset: 310.91180419921875;
    animation: line-anim 3s ease forwards 1.5s;
}
#line1 path:nth-child(7){
    stroke-dasharray: 183.41363525390625;
    stroke-dashoffset: 183.41363525390625;
    animation: line-anim 3s ease forwards 1.8s;
}
#line1 path:nth-child(8){
    stroke-dasharray: 239.46800231933594;
    stroke-dashoffset: 239.46800231933594;
    animation: line-anim 3s ease forwards 2.1s;
}
#line1 path:nth-child(9){
    stroke-dasharray: 147.91082763671875;
    stroke-dashoffset: 147.91082763671875;
    animation: line-anim 3s ease forwards 2.4s;
}
#line1 path:nth-child(10){
    stroke-dasharray: 176.21717834472656;
    stroke-dashoffset: 176.21717834472656;
    animation: line-anim 3s ease forwards 2.7s;
}
#line1 path:nth-child(11){
    stroke-dasharray: 310.9122314453125;
    stroke-dashoffset: 310.9122314453125;
    animation: line-anim 3s ease forwards 3.0s;
}
#line1 path:nth-child(12){
    stroke-dasharray: 193.36358642578125;
    stroke-dashoffset: 193.36358642578125;
    animation: line-anim 3s ease forwards 3.3s;
}
#line1 path:nth-child(13){
    stroke-dasharray: 123.22084045410156;
    stroke-dashoffset: 123.22084045410156;
    animation: line-anim 3s ease forwards 3.6s;
}
#line1 path:nth-child(14){
    stroke-dasharray: 133.261474609375;
    stroke-dashoffset: 133.261474609375;
    animation: line-anim 3s ease forwards 3.9s;
}


#line2 path:nth-child(1){
    stroke-dasharray: 120.20885467529297;
    stroke-dashoffset: 120.20885467529297;
    animation: line-anim 3s ease forwards 4.2s;
}
#line2 path:nth-child(2){
    stroke-dasharray: 107.99449920654297;
    stroke-dashoffset: 107.99449920654297;
    animation: line-anim 3s ease forwards 4.5s;
}
#line2 path:nth-child(3){
    stroke-dasharray: 96.94015502929688;
    stroke-dashoffset: 96.94015502929688;
    animation: line-anim 3s ease forwards 4.8s;
}
#line2 path:nth-child(4){
    stroke-dasharray: 114.63330078125;
    stroke-dashoffset: 114.63330078125;
    animation: line-anim 3s ease forwards 5.1s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

@media all and (max-width: 915px){
    #line1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);   
    }
    
    #line2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-10%, 200%);
    }
    
    #sign{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(100%, 70%);
    }

    svg{
        width: 80%;
    }
    
    svg#sign{
        width: 25%;
    }
   
}
